div.sidebar {
  float: right;
  min-width: 15%;
  padding: 0pt 5pt 5pt 5pt;
  font-family: verdana, arial;
}

a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #0070a0;
}

.nonlink {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding-top: 1px;
  padding-bottom: 1px;
}

.sidebar a {
  border-top: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

#headerlink {
  border: none;
}

#headerlink:hover {
  border: none;
}

body {
  color: #000000;
  background-color: #ffffff;
  margin: 0 0 0 0;
/*
  margin-top: 2em;
  margin-right: 20pt;
  margin-bottom: 10%;
  */
  font-family: verdana, arial;
  font-size: 8pt;
}

.main {
  margin-top: 20px;
  margin-left: 40px;
}

.padded {
  padding-left: 30px;
}

.padded h1,h2 {
  margin-left: -30px;
}

h2 {
  color: #0070a0;
}

.page-title {
  color: black;
}

h3 {
  background-color: #f4f4f4;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid #80d8fd;
  color: #000000;
  width: 90%;
  margin-top: 2em;
  margin-left: -3px;
  padding-left: 3px;
  font-weight: bold;
}

h4 {
}

.grau {
  padding-top: 1em;
}

pre {
  background-color: #eeeeee;
  border: solid 1px #d0d0d0;
  padding: 1em;
  margin-right: 10%;
}

.code {
  border: solid 1px #d0d0d0;
  padding: 1em;
  margin-right: 10%;
}

.indent {
  margin-left: 20px;
  padding-bottom: 1em;
}

.def {
  padding: 1px 1px 1px 1px;
  margin-bottom: 1px;
  font-weight: bold;
  margin-right: 40px;
}

.nomargin {
  margin-bottom: 0;
  margin-top: 0;
}

.noindent {
  margin-left: -30px;
  padding-bottom: 1em;
}

#header table {
  width: 95%;
  position: absolute;
  bottom: 10px;
  margin-right: 1em;
}

#header {
  background: url(header.gif);
  position: relative; /* so that the table is relativ to this */
  width: 100%;
  height: 70px;
  font-family: verdana, arial;
  font-size: 12pt;
  padding-bottom: 1px;
}

#sp-package-list {
  /* ... */
}

#sp-about-packages {
  /* ... */
}

.sp-lambda-list {
  width: 90%;
  background-color: #f4f4f4;
  padding: 3px 3px 3px 3px;
}

.sp-definition {
  width: 90%;
  border: 1px solid #cccccc;
  padding: 3px 3px 3px 3px;
}

.sp-definition-body {
  padding-left: 10%;
  padding-bottom: 2em;
}

.sp-definition-body ul {
  margin-top: 0;
  margin-bottom: 0;
}

.sp-return {
}

.sph3 {
  padding-top: 1em;
  font-weight: bold;
}
